HTTP_ADDRESS=:8080
# Utiliser des apostrophes si le mot de passe contient un caractère $.
MYSQL_DSN='user:change-me@tcp(127.0.0.1:3306)/auth?parseTime=true&charset=utf8mb4'
ALLOWED_ORIGIN=http://localhost:4201
JWT_PRIVATE_KEY_FILE=./private.pem
JWT_TTL_MINUTES=60
